<div class="contenedor">
  <h2 class="titulo">Mis Ventas</h2>

  <div class="filtros">
    <input [(ngModel)]="searchText" placeholder="Buscar por nombre" />
    <select [(ngModel)]="filtroArma">
      <option value="">Todas las armas</option>
      <option *ngFor="let arma of armasDisponibles" [value]="arma">{{ arma }}</option>
    </select>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th (click)="ordenarPor('nombreRiven')" style="cursor: pointer;">Nombre</th>
        <th (click)="ordenarPor('precioVenta')" style="cursor: pointer;">Precio</th>
        <th (click)="ordenarPor('fechaVenta')" style="cursor: pointer;">Fecha</th>
        <th>Vendedor</th>
        <th>Comprador</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of ventas 
                  | filterBy: ['nombreRiven']: searchText 
                  | filterBy: ['arma']: filtroArma 
                  | orderBy: [ [sortColumn, sortAsc ? 'asc' : 'desc'] ]
                  | paginate: { itemsPerPage: 12, currentPage: p }">
        <td>{{ v.nombreRiven }}</td>
        <td>{{ v.precioVenta }} <img src="assets/platino-icon.png" alt="p" class="icono-inline" /></td>
        <td>{{ v.fechaVenta | date: 'short' }}</td>
        <td>{{ v.nickVendedor }}</td>
        <td>{{ v.nickComprador }}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = +$event"></pagination-controls>

  
</div>
