/Backend/WarframeRivensAPI/obj
/Backend/WarframeRivensAPI/obj
/Backend/WarframeRivensAPI/.vs
/Backend/WarframeRivensAPI/.vs
/Backend/WarframeRivensAPI/.vs
/Backend/WarframeRivensAPI/.vs
/Backend/WarframeRivensAPI/.vs
Backend/WarframeRivensAPI/.vs/ProjectEvaluation/warframerivensapi.metadata.v9.bin
*.bin
/Backend/WarframeRivensAPI/obj
/Backend/WarframeRivensAPI/.vs
/Backend/WarframeRivensAPI/bin
/Backend/WarframeRivensAPI/bin
/Backend/WarframeRivensAPI/bin/Debug
/Backend/WarframeRivensAPI/bin
