<nav class="barra-navegacion">
  <a routerLink="/" class="titulo-app">Warframe Rivens</a>
  <ng-container *ngIf="!auth.estaLogueado(); else logueado">
    <a routerLink="/login" routerLinkActive="active-link" class="enlace">Login</a>
  </ng-container>
  <ng-template #logueado>
    <a routerLink="/rivens" routerLinkActive="active-link" class="enlace">Mis Rivens</a>
    <a routerLink="/crear-riven" routerLinkActive="active-link" class="enlace">Añadir Riven</a>
    <a routerLink="/mis-ofertas" routerLinkActive="active-link" class="enlace">Mis Ofertas</a>
    <a routerLink="/mercado" routerLinkActive="active-link" class="enlace">Mercado</a>
    <div class="usuario">
      <a routerLink="/perfil" class="perfil">Cuenta</a>
      <button (click)="forzarLogout()" class="boton-cerrar">Cerrar sesión</button>
    </div>
  </ng-template>
</nav>

<!-- Mensaje del servicio -->
<div *ngIf="mensaje" class="mensaje-alerta" (click)="mensaje = null">
  {{ mensaje }}
</div>
<!-- <app-sidebar-alertas></app-sidebar-alertas> -->

<router-outlet></router-outlet>

<footer class="footer">
  <p>
    <span>Otras páginas:</span>
    <a class="enlace" href="https://warframe.market/">Warframe Market</a>
    <a class="enlace" href="https://rivenmarket.com/">Riven Market</a>
    <a class="enlace" href="https://overframe.gg/">Overframe</a>
    <a class="enlace" href="https://warframe.fandom.com/">Wikia</a>
  </p>
  WarRiven © 2025 - Todos los derechos reservados
</footer>