<div class="contenedor">
  <h2 class="titulo">Editar Riven</h2>

  <form (ngSubmit)="actualizar()" class="formulario">
    <label class="campo-label">Nombre del Riven:</label>
    <input [(ngModel)]="riven.nombre" name="nombre" required />

    <label class="campo-label">Arma:</label>
    <input [(ngModel)]="riven.arma" name="arma" required />

    <h4 class="subtitulo">Estadísticas</h4>

    <label class="campo-label">Stat 1:</label>
    <input [(ngModel)]="riven.stat1" name="stat1" required />

    <label class="campo-label">Valor 1:</label>
    <input type="number" [(ngModel)]="riven.valor1" name="valor1" required />

    <label class="campo-label">Stat 2:</label>
    <input [(ngModel)]="riven.stat2" name="stat2" />

    <label class="campo-label">Valor 2:</label>
    <input type="number" [(ngModel)]="riven.valor2" name="valor2" />

    <label class="campo-label">Stat 3:</label>
    <input [(ngModel)]="riven.stat3" name="stat3" />

    <label class="campo-label">Valor 3:</label>
    <input type="number" [(ngModel)]="riven.valor3" name="valor3" />

    <label class="campo-label">Stat 4:</label>
    <input [(ngModel)]="riven.stat4" name="stat4" />

    <label class="campo-label">Valor 4:</label>
    <input type="number" [(ngModel)]="riven.valor4" name="valor4" />

    <button type="submit" class="boton">Guardar cambios</button>
  </form>

  <p *ngIf="error" class="error">{{ error }}</p>
</div>
