<div class="contenedor">
  <h2 class="titulo">Mis Ventas</h2>

  <div class="filtros">
    <input [(ngModel)]="searchText" placeholder="Buscar por nombre" />
    <select [(ngModel)]="filtroArma">
      <option value="">Todas las armas</option>
      <option *ngFor="let arma of armasDisponibles" [value]="arma">{{ arma }}</option>
    </select>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th (click)="ordenarPor('nombreRiven')" style="cursor: pointer;">Nombre</th>
        <th>Comprador</th>
        <th (click)="ordenarPor('precioVenta')" style="cursor: pointer;">Precio</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of Ventas 
                  | filterBy: ['nombreRiven']: searchText 
                  | filterBy: ['arma']: filtroArma 
                  | orderBy: [ [sortColumn, sortAsc ? 'asc' : 'desc'] ]
                  | paginate: { itemsPerPage: 12, currentPage: p }">
        <td>

          {{ v.nombreRiven }}
        </td>
        <th>{{ v.nickComprador }}</th>
        <td>{{ v.precioVenta }} <img src="assets/platino-icon.png" alt="p" class="icono-inline" /></td>
        <td>
          <button (click)="confirmarVenta(v.id!)">Confirmar venta</button>
          <button (click)="eliminar(v.id!)">Eliminar venta</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = +$event"></pagination-controls>

  <div class="popup" *ngIf="showPopup && rivenSeleccionado" [style.top.px]="popupY + 10" [style.left.px]="popupX + 10">
    <strong>{{ rivenSeleccionado.nombre }}</strong><br>
    {{ rivenSeleccionado.arma }}<br><br>
    <div *ngIf="rivenSeleccionado.stat1">{{ rivenSeleccionado.stat1 }}: {{ rivenSeleccionado.valor1 }}</div>
    <div *ngIf="rivenSeleccionado.stat2">{{ rivenSeleccionado.stat2 }}: {{ rivenSeleccionado.valor2 }}</div>
    <div *ngIf="rivenSeleccionado.stat3">{{ rivenSeleccionado.stat3 }}: {{ rivenSeleccionado.valor3 }}</div>
    <div *ngIf="rivenSeleccionado.stat4">{{ rivenSeleccionado.stat4 }}: {{ rivenSeleccionado.valor4 }}</div>
  </div>

</div>