<div class="contenedor">
  <h2 class="titulo">Mis Pujas</h2>

  <div class="filtros">
    <input [(ngModel)]="searchText" placeholder="Buscar por nombre" />
    <select [(ngModel)]="filtroArma">
      <option value="">Todas las armas</option>
      <option *ngFor="let arma of armasDisponibles" [value]="arma">{{ arma }}</option>
    </select>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th (click)="ordenarPor('nombreRiven')" style="cursor: pointer;">Nombre</th>
        <th (click)="ordenarPor('precioVenta')" style="cursor: pointer;">Precio</th>
        <th>Estado</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of ofertas 
                  | filterBy: ['nombreRiven']: searchText 
                  | filterBy: ['arma']: filtroArma 
                  | orderBy: [ [sortColumn, sortAsc ? 'asc' : 'desc'] ]
                  | paginate: { itemsPerPage: 12, currentPage: p }">
        <td>
          <span class="nombre-hover" 
                (mouseenter)="mostrarRiven(o.idRiven, $event)" 
                (mouseleave)="ocultarRiven()">
            {{ o.nombreRiven }}
          </span>
        </td>
        <td>{{ o.precioVenta }} <img src="assets/platino-icon.png" alt="p" class="icono-inline" /></td>
        <td>
          <span *ngIf="!o.partida && !o.destino" class="estado rojo">Ninguna confirmación</span>
          <span *ngIf="(o.partida && !o.destino) || (!o.partida && o.destino)" class="estado naranja">Confirmación
            parcial</span>
          <span *ngIf="o.partida && o.destino" class="estado verde">Lista para traspaso</span>
        </td>
        <td>
          <button *ngIf="!o.disponibilidad && !o.destino" (click)="confirmarCompra(o.id!)">Confirmar compra</button>
          <img *ngIf="!o.disponibilidad" src="assets/chat-icon.png" alt="Copiar mensaje"
            style="width: 24px; cursor: pointer;" (click)="copiarMensaje(o)" title="Copiar mensaje para el chat" />

        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = +$event"></pagination-controls>

  <div class="popup" *ngIf="showPopup && rivenSeleccionado" [style.top.px]="popupY + 10" [style.left.px]="popupX + 10">
    <strong>{{ rivenSeleccionado.nombre }}</strong><br>
    {{ rivenSeleccionado.arma }}<br><br>
    <div *ngIf="rivenSeleccionado.stat1">{{ rivenSeleccionado.stat1 }}: {{ rivenSeleccionado.valor1 }}</div>
    <div *ngIf="rivenSeleccionado.stat2">{{ rivenSeleccionado.stat2 }}: {{ rivenSeleccionado.valor2 }}</div>
    <div *ngIf="rivenSeleccionado.stat3">{{ rivenSeleccionado.stat3 }}: {{ rivenSeleccionado.valor3 }}</div>
    <div *ngIf="rivenSeleccionado.stat4">{{ rivenSeleccionado.stat4 }}: {{ rivenSeleccionado.valor4 }}</div>
  </div>

</div>